<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="box p-20 bg-info text-center">
        <h1 class="font-light text-white m-0">{{resultsLength}}</h1>
        <h6 class="text-white m-0">Total musiques</h6>
      </div>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="box p-20 bg-warning text-center">
        <h1 class="font-light text-white m-0">{{newMusicsSize}}</h1>
        <h6 class="text-white m-0">Nouvelles musiques</h6>
      </div>
    </mat-card>
  </div>
  <!-- column -->
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
            <button mat-raised-button routerLink="./create" color="primary">Ajouter une musique</button>
          </div>
          <div fxFlex.gt-md="75" fxFlex.gt-lg="75" fxFlex="100" class="text-right">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content class="example-container">
        <div *ngIf="isLoadingResults || isRateLimitReached"
             class="example-loading-shade">
          <mat-spinner *ngIf="isLoadingResults" [diameter]="50"></mat-spinner>
          <h3 *ngIf="isRateLimitReached" class="example-rate-limit-reached error-text">
            <strong>Probleme de connexion ! </strong>
          </h3>
        </div>
        <div *ngIf="!(isLoadingResults || isRateLimitReached) && (resultsLength == 0)" class="example-loading-shade">
          <div class="example-rate-limit-reached">
            Aucune musique disponible !
          </div>
        </div>
        <div class="responsive-table">
          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cover">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Cover</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="header-label">cover:</span>
                <img src="{{row.image ? row.image : 'assets/images/logo.png' }}" class="img-circle" width="60"/>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nom</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.nom}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="artist">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Artist</mat-header-cell>
              <mat-cell
                *matCellDef="let row"> {{row.artiste ? row.artiste.nom + ' ' + row.artiste.prenom : 'n/a'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="genre">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Genre</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.genre ? row.genre.nom : 'n/a'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Prix</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.prix}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Date de sortie</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.dateCreation | date:'longDate'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" [routerLink]="'./'+element.id">
                  <mat-icon aria-label="Afficher">info</mat-icon>
                </button>
                <button mat-icon-button [routerLink]="'./'+element.id+'/edit'">
                  <mat-icon aria-label="Modifier">create</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="openDialog('Supprimer',element)">
                  <mat-icon aria-label="Supprimer">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
