<div fxLayout="row wrap">
  <!-- Column-->
  <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="oh text-center little-profile">
      <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div class="pro-img">
          <app-load-image [fileName]="music.image" [width]="100"></app-load-image>
        </div>
        <div fxLayout="row wrap" style="text-align: start" class="m-b-5">
          <table class="table">
            <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="left-td">
                <strong>Titre</strong>
              </td>
              <td>{{music.nom}}</td>
            </tr>
            <tr>
              <td>
                <strong>Genre</strong>
              </td>
              <td>{{music.genre?.nom || 'n/a'}}</td>
            </tr>
            <tr>
              <td>
                <strong>Artiste</strong>
              </td>
              <td>{{music.artiste ? music.artiste.nom + ' ' + music.artiste.prenom : 'n/a'}}</td>
            </tr>
            <tr>
              <td>
                <strong>Album</strong>
              </td>
              <td>{{music.album ? music.album.titre : 'n/a'}}</td>
            </tr>
            <tr>
              <td>
                <strong>Prix</strong>
              </td>
              <td>{{music.prix}}</td>
            </tr>
            <tr>
              <td>
                <strong>Date de sortie</strong>
              </td>
              <td>{{music.dateCreation | date:'longDate'}}</td>
            </tr>
            </tbody>
          </table>

        </div>
      </mat-card-content>
      <mat-card-actions style="padding: 20px;">
        <button mat-raised-button color="accent" routerLink="./edit">Modifier</button>
        <button mat-raised-button color="warn">Supprimer</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- Column-->
  <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Medias</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <h4> Audio </h4>
        <div *ngIf="music.audioURL ; else noAudio" mat-card-image plyr plyrTitle="Audio" plyrType="audio"
             [plyrPlaysInline]="true" [plyrCrossOrigin]="true"
             [plyrSources]="audioSources"></div>

        <ng-template #noAudio><h5 class="text-center" style="color: red"> Audio file not found </h5></ng-template>

        <h4> Video </h4>
        <div *ngIf="music.videoURL ; else noVideo" mat-card-image plyr plyrTitle="Custom video" [plyrPlaysInline]="true"
             [plyrCrossOrigin]="true"
             [plyrPoster]="'assets/images/logo.png'" [plyrSources]="videoSources" (plyrInit)="player = $event"
             (plyrPlay)="played($event)"></div>
        <mat-card-actions *ngIf="music.videoURL">
          <button mat-icon-button color="primary" (click)="play()">
            <mat-icon>play_arrow</mat-icon>
          </button>

          <button mat-icon-button color="primary" (click)="pause()">
            <mat-icon>pause</mat-icon>
          </button>

          <button mat-icon-button color="primary" (click)="stop()">
            <mat-icon>stop</mat-icon>
          </button>
        </mat-card-actions>

        <ng-template #noVideo><h5 class="text-center" style="color: red"> Video file not found </h5></ng-template>

        <h4> Lyrics </h4>

        <quill-view-html *ngIf="music.lyric ; else noLyric" [content]="music.lyric" theme="snow"></quill-view-html>
        <ng-template #noLyric><h5 class="text-center" style="color: red"> Lyric not found </h5></ng-template>

      </mat-card-content>

    </mat-card>
  </div>
</div>
