/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import '~ngx-toastr/toastr';

//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: inline-block;
  position: relative;
}

.bottom-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-text{
  color: #E53935;
}

 //MatTable loading class
/* Structure */
.example-container {
  position: relative;
  min-height: 162px;
}

.example-table-container {
  position: relative;
  max-height: 800px;
  overflow: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: firebrick;
  max-width: 360px;
  text-align: center;
}
